<ion-header>
  <ion-toolbar>
    <ion-title>Woocommerce</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="apiKeyWoocommerce()">
    <ion-item>
      <ion-label>URL Web</ion-label>
      <ion-textarea [(ngModel)]="web" name="web" required></ion-textarea>
    </ion-item>
      <ion-item>
        <ion-label>Key customer</ion-label>
        <ion-input type="text" [(ngModel)]="customer" name="customer" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Key secret</ion-label>
        <ion-textarea [(ngModel)]="secret" name="secret" required></ion-textarea>
      </ion-item>
      <button ion-button type="submit" block>ok</button>
  </form>
  
  <ion-card *ngFor="let product of products" size="3">
    <ion-img [src]="product.images[0].src" alt="{{ product.name }}"></ion-img>
    <ion-card-header>
      <ion-title> {{ product.name }} </ion-title>
    </ion-card-header>
    <ion-card-content> {{ product.short_description}} </ion-card-content>
    <ion-button href="#" role="button">Comprar <span> | {{ product.regular_price }} €</span></ion-button>
  </ion-card>

</ion-content>
