<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><h1>Home</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home">

  <ion-grid>

    <ion-row class="form-access">
      <ion-col size="2" size-lg="4"></ion-col>
      <ion-col size="8" size-lg="4">
          <ion-button (click)="login()" expand="full">Login</ion-button>
          <p>or</p>
          <ion-button  color="danger" (click)="register()" expand="full">Register</ion-button>
      </ion-col>
      <ion-col size="2" size-lg="4"></ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
