<ion-header>
  <ion-toolbar>
    <ion-title><h1>Register</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row class="form-access">
      <ion-col size="2" size-lg="4"></ion-col>
      <ion-col size="8" size-lg="4">
        <form>
          <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" #email required></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" #password required></ion-input>
          </ion-item>
      
          <ion-row>
            <ion-col>
              <ion-button type="submit" (click)="onRegister(email, password)" expand="block">Register</ion-button>
              <ion-button color="danger" id="btnLogout" (click)="logout()">Logout</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
      <ion-col size="2" size-lg="4"></ion-col>
    </ion-row>

  </ion-grid>
  
</ion-content>
